# MacOS
.DS_Store

# IntelliJ
.idea
*.iml
*.ipr

# Rust
target
*.rs.bk

# Coverage
report
*.profraw

# Nix
result

# Nix Builds
throwaway
throwaway-zig
throwaway-nix-image
throwaway-dev-image

# Kubernetes
.kube

# Dir Env
.direnv

# Tilt Extensions
tilt_modules
